.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.navbar-links {
  display: flex;
  gap: 50px;
  list-style: none;
  align-items: center;
}
.link {
  text-decoration: none;
  color: black;
  outline: none;
  font-weight: 500;
}
.link:visited {
  color: inherit;
}
.link.selected {
  color: #4c4ddc;
  border-bottom: solid 2px #4c4ddc;
  font-weight: bold;
}
.nav-logo {
  cursor: pointer;
}
