.roomcard-admin {
  display: flex;
  border: solid 1px black;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #6061d0;
  align-items: center;
  width: 150px;
  height: 300px;
  padding-bottom: 0px;
}
.img-roomcard {
  width: 100%;
  border-radius: 20px;
}
.room-card-details {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.roomcard-button {
  width: 150px;
  color: black;
  background-color: white;
}
.room-card-type {
  color: white;
  margin-top: 10px;
}
.room-card-description {
  font-size: 10px;
  color: white;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
